:root{
    --color-principal:#4F45B6;
    --color-secundario:#64C4F7;
    --color-acento-1:#A098AE;
    --color-acento-2:#D1D1D1;
    --color-acento-3:#ECEEFB;
    --color-acento-4:#8983C1;
    --color-advertencia:#F8C140;
    --color-peligro:#F84040;
    --color-exito:#86F552;
}
