<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administradcion</title>
    <link rel="stylesheet" href="../../../css/administracion/administracion.css">
    <link rel="stylesheet" href="../../../css/administracion/peliculas.css">
    <link rel="stylesheet" href="../../../css/public/boostrap_include.css">
</head>
<body>
    <div class="barraLeft">
        <div class="contIcono">
            <img src="../../../../media/public/logo1.png" alt="Logo">
        </div>
        <form action="" method="get">
            <button><img src="../../../../media/administracion/pelicula.png" alt="Peliculas"></button>
            <button><img src="../../../../media/administracion/evento.png" alt="Eventos"></button>
            <button><img src="../../../../media/administracion/publicidad.png" alt="Publicidad"></button>
            <button><img src="../../../../media/administracion/usuarios.png" alt="Usuarios"></button>
            <button><img src="../../../../media/administracion/informe.png" alt="Informes"></button>
        </form>
    </div>
    <div class="contenedor">
        <div class="barraTop">
            <div class="encabezado">
                <a href="#" target="_blank" rel="noopener noreferrer">CULTURA CENTER</a>
            </div>
            <div class="datosUsuario">
                <div class="contenido">
                    <p>Nombre de Usuario</p>
                    <span>Rol</span>
                </div>
            </div>
        </div>
        <div class="barraCenter">
            <div class="contCenter">
                <h4 class="titulo">Peliculas</h4>
                <button class="btn">Agregar <img src="../../../../media/public/add.svg" class="icon" ></button>
            </div>
            <div class="pelicula">
                <div class="barraBusqueda">
                    <img src="../../../../media/administracion/telefono.png" alt="">
                    <input type="search" name="buscarPeli" id="buscarPeli" placeholder="Buscar">
                </div>
                <div class="contPeliculas">
                    <div class="datosPeliculas">
                        <img src="../../../../media/administracion/entrada.png" alt="">
                        <p class="tituloEvento">Titulo</p>
                        <div class="divBtns">
                            <button class="btn btn-danger"><img class="icon" src="../../../../media/public/delete.svg" alt=""></button>
                            <button class="btn btn-warning"><img class="icon" src="../../../../media/public/update.svg" alt=""></button>
                        </div>
                    </div>
                    <div class="datosPeliculas">
                        <img src="../../../../media/administracion/entrada.png" alt="">
                        <p class="tituloEvento">Titulo</p>
                        <div class="divBtns">
                            <button class="btn btn-danger"><img class="icon" src="../../../../media/public/delete.svg" alt=""></button>
                            <button class="btn btn-warning"><img class="icon" src="../../../../media/public/update.svg" alt=""></button>
                        </div>
                    </div>
                    <div class="datosPeliculas">
                        <img src="../../../../media/administracion/entrada.png" alt="">
                        <p class="tituloEvento">Titulo</p>
                        <div class="divBtns">
                            <button class="btn btn-danger"><img class="icon" src="../../../../media/public/delete.svg" alt=""></button>
                            <button class="btn btn-warning"><img class="icon" src="../../../../media/public/update.svg" alt=""></button>
                        </div>
                    </div>
                </div>
                <div class="footerPeliculas">
                    <div class="divbtnsFoot">
                        <button>1</button>
                        <button>2</button>
                        <button>3</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>