<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/contacto.css">
</head>
<body>
    <div class="contacto">
        <div class="contImg">
            <img src="" alt="">
        </div>
        <p>Nombre Del Usuario</p>
        <span>Rol del Usuario</span>
        <div class="datosContacto">
            <button><img src="../img/email.png" alt="E-mail"></button>
            <button><img src="../img/telefono.png" alt=""></button>
        </div>
    </div>
</body>
</html>